.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 100vw;
  max-width: 1200px;
  padding: 0 1rem;

  .box {
    width: 100%;
    max-width: 500px;
    padding: 3rem;
    border-radius: 0.6rem;
    border: 1px solid #c4c2c2;
    background-color: rgba(44, 44, 44, 0.263);

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      text-align: center;

      .title {
        font-size: 1.8rem;
        font-weight: 800;
        color: rgb(255, 255, 255);
      }

      .buttons {
        display: flex;
        flex-direction: column;

        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.3rem;
          width: 100%;
          padding: 1.3rem;
          margin: 0.5rem 0;
          border: none;
          border-radius: 0.6rem;
          text-align: center;
          background-color: rgba(114, 114, 114, 0.372);
          color: rgb(255, 255, 255);
          font-size: 1.1rem;
          font-weight: 500;

          &.apple {
            background-color: rgba(114, 114, 114, 0.372);
            color: white;
          }
        }
      }

      .desc {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 0.3rem;
        font-size: 0.9rem;
        color: #5e5e5e;
        font-weight: 500;

        .link {
          font-size: 0.9rem;
          color: #4800ff;
          font-weight: 500;
        }
      }
    }
  }
}
