.about__page {
  width: 100vw;
  background-image: radial-gradient(
    circle,
    #4a0012,
    #3e0512,
    #320811,
    #26080e,
    #1b050a,
    #150307,
    #0c0204,
    #000000,
    #000000,
    #010100,
    #010101,
    #010101
  );
  color: white;

  .container {
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    .title {
      width: 900px;
    }

    .scnd_cont {
      width: 800px;
      display: flex;
      flex-direction: column;

      .img_desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;

        .image {
          width: 500px;
          height: 400px;

          img {
            width: 100%;
          }
        }

        .desc {
          width: 500px;

          p {
            width: 100%;
          }
        }
      }
    }
  }
}
