.postCard {
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  t */

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  background-color: white;
  border: 2px solid black;
  border-radius: 12px;
  padding: 20px;
  img {
    width: 250px;
    height: 280px;
    margin-bottom: 15px;
    border-radius: 12px;

    transition: 0.5s;
    border: 2px solid black;
    &:hover {
      border: 3px solid rgb(252, 252, 252);
      animation: borderAnimation 4s infinite;
    }
  }

  @keyframes borderAnimation {
    0% {
      border-color: #845ec2;
    }
    33% {
      border-color: #b0a8b9;
    }
    66% {
      border-color: #4b4453;
    }
    100% {
      border-color: #00896f;
    }
  }
  .post_elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .title {
      margin-bottom: 10px;
      color: rgb(0, 0, 0);
    }
    .postBtn {
      margin-top: 10px;
      font-size: 18px;
      color: #ffffff;
      padding: 10px 20px;
      background-image: linear-gradient(
        to right bottom,
        #aaaaaa,
        #909090,
        #767676,
        #5d5e5d,
        #464646,
        #404040,
        #3a3a3a,
        #343434,
        #3c3c3c,
        #454545,
        #4e4e4e,
        #575757
      );
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      transition: background-color 0.3s ease;
      &:hover {
        background-image: linear-gradient(
          to right bottom,
          #575757,
          #4e4e4e,
          #454545,
          #3c3c3c,
          #343434,
          #3a3a3a,
          #404040,
          #464646,
          #5d5e5d,
          #767676,
          #909090,
          #aaaaaa
        );
      }
    }
  }
}
