body {
  background: url(https://i.ibb.co/x351yPg/Y1qlh-Udo-2x-min.jpg) no-repeat
    center/cover;
}
.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
